.App{
  text-align: left;
}

/* 
classes are the .
ids are the #
*/

.green-div{
  background-color: #27CE37;
  padding: 5px;
}

.body-green-div{
  margin-top: 30px;
}

hr{
  margin: 0px;
  border-top: 2px solid lightgray;
}

.link-font-change, h1, h2, h3, h4, h5, h6, p{
  font-family: 'Reem Kufi', sans-serif;
  text-decoration: none;
  color: white;
}

.p{
  font-family: 'Reem Kufi', sans-serif;
  color: black;
  font-size: .8em;
  line-height: 1.5em;
}

label{
  font-family: 'Reem Kufi', sans-serif;
}

.green-button{
  background-color: #27CE37;
  border: none;
  font-family: 'Reem Kufi', sans-serif;
  color: white;
  width: 50%;
  margin: 0;

}

.screen-width-div{
  width: 90%;
  margin: 10px auto;
}

.input-mobile{
  background-color: lightgray;
  border: none;
}