.center-div-container{
  align-self: center;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

  .homepage-content-container{
    display:flex;
  }

  .image-and-content{
    height: fit-content;
    display:flex;
    flex-direction: row-reverse;
  }

  .image-and-content-2{
    height: fit-content;
    display:flex;
    flex-direction: row;
  }

  .flowers{
    object-fit: contain;
  }

  .image-container{
    width: 50%;
  }
  .text-container{
    width: 50%;
    align-content: center; 
  }

  .marg-up{
    margin-top: 40px;
  }

  .bottom-div-spacer{
    margin-bottom: 100px;
  }

}