.create-image-container {
  display: none;
}


@media screen and (min-device-width: 700px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .create-container {
    display: flex;
  }
  
  .create-form-container {
    margin-top: 5vh;
    width: 55%;
    /* margin-left: 50px; */
  }

  .create-image-container {
    display: block;
    width: 45%;
  }



}
