.work-from-home{
  width: 90%;
}


.make-larger{
  width: 100%;
  margin: 0px auto;
}


.register-container{
  display: flex;
  flex-direction: column-reverse;
}



@media screen 
  and (min-device-width: 700px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

  .register-container{
    display: flex;
    flex-direction: row;
  }

  .register-image-container{
    width: 50%;
  }

  .register-form-container{
    margin-top: 10vh;
    width: 50%;
  }

  .make-larger{
    width: 51%;
    margin: 0px auto;
  }
}